<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.site.dao.MemberMapper">
  <!-- 회원전체리스트  -->
  <select id="selectAll" resultType="com.site.dto.Member">
    select * from member
  </select>
  
  <!-- 회원정보  -->
  <select id="selectLogin" resultType="com.site.dto.Member">
    select * from member where id=#{id} and pw=#{pw}
  </select>
  <!-- 회원상세보기  -->
  <select id="selectOne" resultType="com.site.dto.Member">
    select * from member where id=#{id}
  </select>
  <!-- 
  <insert id=""></insert>
  <update id=""></update>
  <delete id=""></delete>
   -->
   
  
</mapper>